@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?68110c669ebff230bab1e1d2ecb74a41") format("truetype"),
url("./flaticon.woff?68110c669ebff230bab1e1d2ecb74a41") format("woff"),
url("./flaticon.woff2?68110c669ebff230bab1e1d2ecb74a41") format("woff2"),
url("./flaticon.eot?68110c669ebff230bab1e1d2ecb74a41#iefix") format("embedded-opentype"),
url("./flaticon.svg?68110c669ebff230bab1e1d2ecb74a41#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-building:before {
    content: "\f101";
}
.flaticon-clip:before {
    content: "\f102";
}
.flaticon-coach:before {
    content: "\f103";
}
.flaticon-diagram:before {
    content: "\f104";
}
.flaticon-play-button:before {
    content: "\f105";
}
.flaticon-profits:before {
    content: "\f106";
}
